<div style="width: 100%">
  <met-label for="firstName">First Name</met-label>
  <met-input id="firstName" [icon]="true" [type]="showPassword ? 'text' : 'password'">
    <button (click)="toggleVisibility()">
      <span class="material-icons-outlined">{{
        showPassword ? 'visibility_off' : 'visibility'
      }}</span>
    </button>
  </met-input>
  <met-error>First Name is required.</met-error>
</div>

<div style="margin-top: 60px; width: 100%">
  <met-label for="password">Password</met-label>
  <met-form-field appearance="default">
    <input
      [type]="showPassword ? 'text' : 'password'"
      id="password"
      placeholder="password"
    />
    <button (click)="toggleVisibility()">
      <span class="material-icons-outlined">{{
        showPassword ? 'visibility_off' : 'visibility'
      }}</span>
    </button>
  </met-form-field>
  <met-error>Password inccorret</met-error>
</div>
