nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin: 0 4px;
}

a {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  width: 32px;
  line-height: 32px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-gray-dark);
}

a.current {
  cursor: default;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--white);
}

a:not(.more):not(.current):hover {
  background-color: var(--primary-hover-transparent);
  color: var(--primary);
}

a.more:hover {
  cursor: default;
  background-color: var(--primary-hover-transparent);
  color: var(--primary);
}

.material-icon {
  font-size: 14px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  border-radius: 4px;
  color: var(--text-gray-dark);
  padding: 8px 8px;
}

button[disabled] {
  cursor: default;
  color: var(--text-disabled);
}

button:not([disabled]):hover {
  color: var(--primary);
  cursor: pointer;
  outline: none;
}
