/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 0.45px;
  box-sizing: border-box;
  font-size: 13px;
  background-color: #f5f8fa;
}

:root {
  --font: var('Poppins, sans-serif');

  --primary: #009ef7;
  --primary-hover: #0095e8;
  --primary-hover-light: #33b1f9;
  --primary-hover-transparent: #d9f1ff;

  --light: #f5f8fa;
  --light-hover: #eff2f5;

  --secondary: #e4e6ef;
  --secondary-hover: #b5b5c3;

  --success: #50cd89;
  --success-hover: #47be7d;

  --info: #7239ea;
  --info-hover: #5014d0;

  --warning: #ffc700;
  --warning-hover: #f1bc00;

  --danger: #f1416c;
  --danger-hover: #d9214e;

  --dark: #181c32;
  --dark-hover: #131628;

  --white: #fff;
  --white-hover: #f5f8fa;

  --text-disabled: #b5b5c3;

  --text-white: #fff;

  --text-black-medium: #3f4254;
  --text-black-dark: #181c32;

  --text-gray-light: #7e8299;
  --text-gray-dark: #5e6278;
}
