.table {
  width: 100%;
  border-collapse: collapse;
}

.table {
  thead {
    tr {
      th {
        padding: 1.75rem 1.75rem;
      }

      th:first-child {
        padding-left: 0;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 1.75rem 1.75rem;
      }

      td:first-child {
        padding-left: 0;
      }
    }
  }
}

.table-border {
  border: 1px solid #eff2f5;
}

.table-rounded {
  border-radius: 8px;
  border-collapse: separate;

  tbody tr {
    border-collapse: collapse;
  }
  thead tr {
    border-collapse: collapse;
  }
}

.table-hover {
  tbody tr:hover {
    background-color: #f5f8fa;
  }
}

.table-striped {
  thead tr th:first-child {
    padding-left: 1.75rem;
  }

  tbody tr:nth-child(odd) {
    background-color: #f5f8fa;
  }

  tbody tr td:first-child {
    padding-left: 1.75rem;
  }
}

.table-responsive {
  overflow-x: auto;
}

.table-base thead tr {
  border-bottom: 1px solid #eff2f5;
}

.table-text-align-left thead tr th,
.table-text-align-left tbody tr td {
  text-align: left;
}

.table-text-align-center thead tr th,
.table-text-align-center tbody tr td {
  text-align: center;
}

.table-text-align-right thead tr th,
.table-text-align-right tbody tr td {
  text-align: right;
}

.table-row-border-solid tbody {
  tr {
    border-bottom: 1px solid #eff2f5;
  }

  tr:last-child {
    border-bottom: none;
  }
}

.table-row-border-dashed tbody {
  tr {
    border-bottom: 1px dashed #eff2f5;
  }

  tr:last-child {
    border-bottom: none;
  }
}
